@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import"./blog-post.css";
@import"./blog-side.css";
@import"./hd-ft.css";

@media(min-width:300px) and (max-width:600px) {
  .container-blog {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas: 
    "hd"
    "main"
    "sd"
    "ft";
    border: none;
    background-color: white;
    justify-content: center;
    align-content: center;
    margin: auto;
  }  
}

@media(min-width:601px) and (max-width:900px) {
  .container-blog {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas: 
    "hd hd hd hd"
    "main main main main" 
    "sd sd sd sd"
    "ft ft ft ft";
    border: none;
    background-color: white;
    justify-content: center;
    align-content: center;
    margin: auto;
  } 
}

@media(min-width:901px) {
  .container-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "main main main main sd sd sd sd"
    "ft ft ft ft ft ft ft ft";
    border: none;
    background-color: white;
    margin: auto;
  }
}

body {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: none;
  font-family: "Montserrat", 'arial', sans-serif;
}

.box {
  display: grid;
  justify-content: center;
  background-color: white;  
}

a {
  text-decoration: none;
  color: orange;
}

h1 {
  color: #d57d08;
  font-size: 1.2rem;
  font-weight: 600;
}

h2 {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}

h3 { 
  color: #000;
  font-weight: 200;
  text-transform: uppercase;
}

h4 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  flex: 1 1 0;
  color: black;
}

q {
 color: orange; 
}

#top-content {
  display: flex;
  flex-direction: row;
  border-top: 2px solid #e7e7e7;
  margin: 1rem 0 0;
  min-height: 30px;
  font-size: 0.8rem;
  align-items: inherit;
}

#post-meta {
  margin-right: 2rem;
}

#timestamp { 
  margin-left: 1rem;
}

#comments {
  margin-left: 1rem;
}