.content {
	grid-area: main;
}

@media(min-width:300px) and (max-width:600px) {
	.post-content {
		display: flex;
		flex-direction: column;
		height: auto;
		border: 1px solid white;
		border-radius: 5px;
		margin: 1em;
		padding: 0.5em;
		border-width: 1em;
		align-items: center;
		justify-content: center;
		flex: 1;
	}

	#post-img {
		display: grid; 
		background-size: contain;
		max-width: 450px;
		height: auto;
		border: 10px solid white;
	}

	.post {
		display: flex;
		max-width: 450px;
		margin: 1em;
		flex-direction: column;
		text-align: justify;
	}
}

@media(min-width:601px) and (max-width:900px) {
	.post-content {
		display: flex;
		flex-direction: column;
		height: auto;
		border: 1px solid #F9A440;
		box-shadow: 0 9px 25px -5px silver;
		border-radius: 5px;
		margin: 1em;
		padding: 0.5em;
		box-sizing: border-box;
		align-items: center;
		justify-content: center;
		flex: 1;
	}

	#post-img {
		display: grid; 
		background-size: contain;
		max-width: 500px;
		height: auto;
		border: 10px solid white;
	}

	.post {
		display: flex;
		max-width: 500px;
		margin: 3em;
		flex-direction: column;
		text-align: justify;
	}
}

@media(min-width:901px) {
	.post-content {
		display: flex;
		flex-direction: column;
		height: auto;
		border: 1px solid #F9A440;
		box-shadow: 0 9px 25px -5px silver;
		border-radius: 5px;
		margin: 1em;
		padding: 0.5em;
		box-sizing: border-box;
		align-items: center;
		justify-content: center;
		flex: 1;
	}

	#post-img {
		display: grid; 
		background-size: contain;
		max-width: 700px;
		border: 10px solid white;
		height: auto;
	}

	.post {
		display: flex;
		max-width: 700px;
		margin: 5em;
		flex-direction: column;
		text-align: justify;
	}
}

#top-content {
	display: flex;
	flex-direction: row;
	border-top: 2px solid #e7e7e7;
	margin: 1rem 0 0;
	min-height: 30px;
	font-size: 0.8rem;
	align-items: inherit;
}

#post-meta {
	margin-right: 2rem;
}

#timestamp { 
	margin-left: 1rem;
}

#comments {
	margin-left: 1rem;
}

#footer {
  border-top: 2px solid #e7e7e7;
  font-size: 1rem;
  margin: 3rem 0 0;
  min-height: 40px;
  align-items: inherit;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: orange;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}