.header {
  grid-area: hd;
  margin: auto;
}

#header-img {
  background-image: url(images/blogtitle.png);
  background-size: contain;
  max-width: auto;
  max-height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  display: grid;
  height: 2px;
  padding: 0 150px;
}

.nav-links a {
  font-size: 24px;
  font-family: 'Monserrat', 'arial', sans-serif;
}

#nav-links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow:column;
  grid-gap: 1.5em;
}

.name {
  font-family: 'Monserrat', 'arial', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

#title {
  display: grid;
  grid-auto-flow:column;
  justify-content: start;
  align-items: center;
}

.description {
  font-family: 'Monserrat', 'arial', sans-serif;
}

.footer {
  grid-area: ft;
  background-color: #d8d5d57d;
  border-radius: 25px;
  max-height: 5rem;
  margin-top: 2rem;
}

ul.social-set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: auto;
  padding: 15px;
}

ul.social-set li {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.sociali {
  font-size: 1.5em;
  line-height: 1.2em;
  padding: 10px;
  background: white;
  color: blue;
  margin-right: 15px;
  border-radius: 25%;
}

a.sociali:hover, a.sociali:focus {
  background: #6d8785;
}